<div class="row">
	<div class="large-12 columns">
		<h2>Blogs<br>
		<small>List of blogs</small></h2>
		
		<a ui-sref="root.blogs.edit" class="button">Add New</a>
		<div ng-hide="loaded">
			<div class="small-12 columns">
				<h4>Loading... <i class="fa fa-spinner fa-pulse"></i></h4>
			</div>
		</div>
		<div ng-if="!hasBlogs" ng-show="loaded">
			<div class="small-12 columns">
				<h3>No blog has been found. Please add a new one.</h3>
			</div>
		</div>
		<div ng-repeat="blog in blogs | orderBy :'position'" class="panel">
					<i ng-if="blog.active" class="fa fa-check green right"></i>
					<i ng-if="!blog.active" class="fa fa-times red right"></i>
					<a ui-sref="root.blogs.edit({blogID:blog.id})"><i class="fa fa-pencil fa-fw right"></i></a>
			<div class="row">
				<div class="small-9 medium-4 large-5 columns">
					{{blog.blogName}}
					<label ng-if="blog.commentsAllow">Comments Allow
						<label ng-if="blog.commentsReview">Review Required</label>
					</label>
					<label ng-if="!blog.commentsAllow">Comments Off</label>
				</div>
				<div class="small-12 medium-7 large-6 columns">
					<label>Authors:</label>
					<label ng-if="blog.blogAuthors.length" ng-repeat="author in blog.blogAuthors track by $index">{{author.Name}} {{author.Email}}</label>
					<label ng-if="!blog.blogAuthors.length">No Authors added</label>
				</div>
			</div>
		</div>
	</div>
</div>

<div ui-view="subcontainer" autoscroll></div>