<div class="row" id="blogEdit">
	<div class="small-12 columns">
		<h2>Edit Blog</h2>
	</div>
</div>
<form class="simple-form">
	<div class="row">
		<div class="small-12 columns">
	      <label>Blog Title
	        <input type="text" ng-model="blog.blogName" placeholder="{{blog.blogName}}" />
	      </label>
	    </div>
	</div>
	<div class="row">
		<div class="small-12 medium-4 columns">
			<div class="row">
				<div class="small-6 columns">
					<label>Blog Active?</label>				
				</div>
				<div class="small-6 columns">
					<div class="hero-box">
						<label for="active" class="switch-light switch-android">
							<input id="active" ng-model="blog.active" type="checkbox" />
							<span>
								<span>No</span>
								<span>Yes</span>
							</span>
							<a></a>
						</label>
					</div>				
				</div>
			</div>
		</div>	
		<div class="small-12 medium-4 columns">
			<div class="row">
				<div class="small-6 columns">
					<label>Allow Comments?</label>						
				</div>
				<div class="small-6 columns">
					<div class="hero-box">
						<label for="commentsAllow" class="switch-light switch-android">
							<input id="commentsAllow" ng-model="blog.commentsAllow" type="checkbox" />
							<span>
								<span>No</span>
								<span>Yes</span>
							</span>
							<a></a>
						</label>
					</div>				
				</div>
			</div>
		</div>			
		<div class="small-12 medium-4 columns">
			<div class="row">
				<div class="small-6 columns">
					<label>Review Comments before Posting?</label>					
				</div>
				<div class="small-6 columns">
					<div class="hero-box">
						<label for="commentsReview" class="switch-light switch-android">
							<input id="commentsReview" ng-model="blog.commentsReview" type="checkbox" />
							<span>
								<span>No</span>
								<span>Yes</span>
							</span>
							<a></a>
						</label>
					</div>				
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="small-12 medium-6 columns">
			<label>Add New Authors</label>
			<div class="row collapse">
				<div class="small-9 columns">
					<input type="text" value="Email" ng-model="newEmail" />
				</div>
				<div class="small-3 columns">
					<button class="postfix" ng-click="addEmail()">Add</button>
				</div>
			</div>
		</div>
		<div class="small-12 medium-6 columns">
			<label>Authors
				<div ng-if="blog.blogAuthors.length" class="alert-box secondary" ng-repeat="author in blog.blogAuthors track by $index">
					{{author.Email}} ({{author.Name}})
					<a ng-click="deleteEmail($index)" class="close">&times;</a>
				</div>
				<div ng-if="!blog.blogAuthors.length" class="alert-box secondary">No Authors added</div>
			</label>
		</div>
	</div>
	</div>
    <div class="row">
    	<div class="small-12 columns">
    		<input type="hidden" ng-model="blog.id" value="{{blog.id}}" />
    		<div class="row">
    			<div class="small-6 columns">
 	    			<input class="button success expand" type="submit" ng-click="update(blog)" value="Save" />				
 				</div>
    			<div class="small-6 columns">
 					<input class="button alert expand" ng-click="cancelEdit()" value="Cancel" />
 				</div>
    		</div>
    	</div>
    </div>

</form>