<nav class="top-bar docs-bar hide-for-small" data-topbar role="navigation">
	<ul class="title-area">
		<li class="name">
			<h1><a href="#/">GoBlog Administration</a></h1>
		</li>
	</ul>

	<section class="top-bar-section">
		<ul class="right">

			<div ng-if="user.role == 'SiteAdmin'">
			    <li><a ui-sref="root.useredit">Hi {{user.displayName}}&nbsp;<i class="fa fa-pencil fa-fw"></i></a></li>
			    <li class="has-form"><a href="{{user.logoutURL}}" class="button">Logout</a></li>
			    <li ng-if="currentState == 'root.users'" class="active"><a ui-sref="root.users">Users</a></li>
			    <li ng-if="currentState != 'root.users'"><a ui-sref="root.users">Users</a></li>			    

			    <li ng-if="currentState == 'root.blogs'" class="active"><a ui-sref="root.blogs">Blogs</a></li>
			    <li ng-if="currentState != 'root.blogs'"><a ui-sref="root.blogs">Blogs</a></li>			    
			</div>


			<div ng-if="user.role == 'Guest'">
		    	<li class="has-form"><a href="{{user.loginURL}}" class="button">Login</a></li>
			</div>

			<div ng-if="user.role == 'Unregistered'">
				<li><a>Sorry, not allowed</a></li>
		    	<li class="has-form"><a href="{{user.logoutURL}}" class="button">Logout</a></li>
			</div>

			<div ng-if="user.role == 'KnownUser'">
			    <li><a ui-sref="root.useredit">Hi {{user.displayName}}&nbsp;<i class="fa fa-pencil fa-fw"></i></a></li>
			    <li class="has-form"><a href="{{user.logoutURL}}" class="button">Logout</a></li>
			</div>			

        </ul>
	</section>
</nav>

<nav class="tab-bar show-for-small">
	<a class="left-off-canvas-toggle menu-icon"><span>&nbsp;GoBlog&nbsp;Administration</span></a>
</nav>

<aside class="left-off-canvas-menu">
	<ul class="off-canvas-list">
		<li><label>Menu</label></li>
		
		<div ng-if="user.role == 'SiteAdmin'">
		    <li><a ui-sref="root.useredit">Hi {{user.displayName}}&nbsp;<i class="fa fa-pencil fa-fw"></i></a></li>
		    <li class="has-form"><a href="{{user.logoutURL}}" class="button">Logout</a></li>
		    <li><a ui-sref="root.users">Users</a></li>			    
		    <li><a ui-sref="root.blogs">Blogs</a></li>			    
		</div>


		<div ng-if="user.role == 'Guest'">
	    	<li class="has-form"><a href="{{user.loginURL}}" class="button">Login</a></li>
		</div>

		<div ng-if="user.role == 'UnknownUser'">
			<li><a>Sorry, not allowed</a></li>
	    	<li class="has-form"><a href="{{user.logoutURL}}" class="button">Logout</a></li>
		</div>

		<div ng-if="user.role == 'KnownUser'">
		    <li><a ui-sref="root.useredit">Hi {{user.displayName}}&nbsp;<i class="fa fa-pencil fa-fw"></i></a></li>
	    	<li class="has-form"><a href="{{user.logoutURL}}" class="button">Logout</a></li>
		</div>			
	</ul>
</aside>

<a class="exit-off-canvas"></a>
